# Windows/OS
.DS_Store
Thumbs.db
desktop.ini

# Go
bin/
obj/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum

# Wails
build/bin/
build/obj/
wails.syso
icon.ico

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mace Specific Directories
servers/
temp/
